/*  your css code here. If applicable */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #cfd5cc;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
	width:700px;
	

.banner img {
  width: 100%;
  height: auto;
  display:block;

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  background-color: #cfd5cc;
  padding: 10px;
}

.grid-item {
  background-color: #cfd5cc;
  padding: 10px;
}

.grid-item img {
  width:100px;
  height:100px;
	text-align: center;
	
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.6;
}

.objective {
  grid-column: 2 / span 1;
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
}

.objective h3 {
  text-align: center;
  margin-bottom: 10px;
}

.grid-item p a {
  color: blue;
  text-decoration: underline;
}
